html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Adamina', serif;
}

.backgroundImage {
    background-color: black;
    background-image: url('../images/moving\ 1.png');
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.backgroundImage ul {
    display: flex;
    justify-content: end;
    padding-top: 60px;
}

.backgroundImage ul li {
    color: white;
    list-style-type: none;
    font-weight: 300;
    padding-right: 40px;

}

ul li a {
    color: white;
    text-decoration: none;
}

ul li a button {
    border: none;
    padding-left: 60px;
}

ul li .btn-yellow {
    border: none;
    background: #FAFF00;
    padding: 2px 10px;
}

ul li:last-child {
    padding-right: 150px;
}

ul li .btn-black {
    border: none;
    padding: 2px 10px;
    background: #000;
    color: #FAFF00;
}

.hero-content {
    width: 35%;
    margin-left: 100px;
    padding-top: 100px;
}

.hero-content p:first-child {
    font-size: 40px;
    margin-bottom: 30px;
    color: #FAFF00;

}

/* Adds Poppins family to the last child */
.hero-content p:last-child {
    font-size: 20px;
    margin-bottom: 5px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;

}

/* Content area */
.section-one {
    display: flex;
    align-items: center;
    padding: 80px 0;
}

.hustle-img {
    width: 55%;
}

.section-one img {
    padding-right: 60px;
    width: 100%;
    
}

.hustle-content {
    width: 300px;
    margin-left: 60px;
}

/* Horizontal line thickness */
.hr {
    height: 5px;
    background-image: linear-gradient(to right , orange, black);
    background-color: orange;
    width: 150px;
    margin-bottom: 20px;
}


/* section one */
h2 {
    font-size: 35px;
    font-weight: 200;
}

/* section one */
.section-one div p {
    color: rgb(135, 134, 134);
}

/* section one */
.section-one div h2, p {
    padding-bottom: 20px;
}

.learn-more {
    padding: 18px 36px;
    border: none;
    background-color: #000;
    border-top-right-radius: 25px;
    color: #FAFF00;
    margin-top: 40px;
}

.work-with-us {
    padding: 15px 36px;
    border: none;
    background-color: #FFAC12;
    border-top-right-radius: 25px;
    color: #000;
    margin-top: -20px;
}

.arrow {
    font-size: 30px;
}

/* section two */

.section-two {
    background-color: rgb(229, 227, 227);
    padding: 100px;
}

.movers-heading {
    margin-bottom: 140px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-one {
    background: #fff;
    width: 30%;
    margin-top: 40px;
    border-radius: 10px;
}

.card-one img {
    width: 100%;
    height: 72%;
}

.card-one h4 {
    margin-top: 30px;
    margin-left: 20px;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 20px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding: 10px 35px;
    text-align: center;
    border: 1px solid lightgrey;
    background-color: #fff;
    border-bottom: none;
}

.btn:first-child {
    border-left: none;
    border-bottom: none;
    border-bottom-left-radius: 15px;
}

.btn:last-child {
    border-right: none;
    border-bottom: none;
    border-bottom-right-radius: 15px;
}

/* footer */
footer {
    height: 400px; 
    background-image:linear-gradient(to top right, black, black, black, orange); 
    padding: 100px;
    color: #fff;
}

footer h2 span{
    color: #FAFF00;
    font-family: 'Actor', sans-serif;
}

.line {
    border-bottom: 1px solid rgb(47, 47, 47);
    margin: 50px 0px;

}

.links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Actor', sans-serif;
}

.fa {
    padding-right: 40px;
}

footer h3 {
    font-weight: 300;
    font-size: medium;
    margin-bottom: 10px;
}

footer ul {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 0;
    margin: 0;
    width: 100%;
    flex-wrap: wrap;
}

footer ul li {
    font-size: small;
    font-weight: 100;
    margin-bottom: 10px;
}

/* Page two */
.page2 {
    font-family: 'Actor', sans-serif;
}

.page2-nav {
    background-color: #000;
    
}

.arrow {
    color: #fff;
}

.page2-line {
    margin-top: 30px;
    border-bottom: solid 1px rgb(90, 88, 88);
}

.page2-hero-content {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 5px 105px;
}

.land-size {
    text-align: right;
}

.page2-background ul{
    display: flex;
    justify-content: end;
    padding-top: 60px;
    padding-right: 70px;
}

.page2-background ul li {
    color: white;
    list-style-type: none;
    font-weight: 300;
    padding-right: 40px;

}

/* main styling page two */

main {
    background-color: rgb(229, 227, 227);
}

.hero-two {
    display: flex;
    padding: 60px 110px;
}

.image-property {
    margin-right: 40px;
}

.card-right {
    background: #fff;
    border-radius: 20px;
}

.card-right form {
    /* padding: 45px; */
    width: 40%;
}

input {
    /* padding: 10px 60px; */
    border: 1px solid lightgray; 
}

.inputName {
    margin-bottom: 10px;
    border-radius: 10px;
}

.inputPhone {
    margin-bottom: 10px;
    border-radius: 10px;
}

.inputEmail {
    margin-bottom: 10px;
    border-radius: 10px;
}


/* footer */

.footer-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Responsiveness */

@media screen and (max-width: 768px) {
    .backgroundImage {
        opacity: 0.7;
        background-image: url('../images/moving\ 1.png');
        height: 90vh;
        background-position:center;
        background-repeat: no-repeat;
        background-size:cover;
    }

    ul {
        display: flex;
        flex-direction: column;
        background: #000;
        opacity: 0.7;
        padding-top: 40px;
        padding-left: 40px;
    }
    
    ul li {
        color: white;
        list-style-type: none;
        font-weight: 300;
        padding-bottom: 40px;
    
    }

    /* Responsive Hero content */
    .hero-content {
        width: 100%;
        margin-left: 40px;
        padding-top: 40px;
    }
    
    .hero-content p:first-child {
        font-size: 30px;
        margin-bottom: 30px;
        color: #FAFF00;
    
    }
    
    /* Adds Poppins family to the last child */
    .hero-content p:last-child {
        font-size: 15px;
        margin-bottom: 5px;
        color: #FFF;
        font-family: 'Poppins', sans-serif;
    
    }

    /* Page two */
    .page2-hero-content {
        display: flex;
        flex-direction: column;
        color: #fff;
        padding: 5px 40px; 
    }
    
    .land-size {
        text-align: left;
    }

    /* page 2 */

    .footer-head {
        display: flex;
        flex-direction: column;
    }
    
}

@media screen and (max-width: 1100px) {
    
    /* Responsive Hero content */
    .hero-content {
        width: 60%;
        margin-left: 40px;
        padding-top: 40px;
    }

    .hustle-content h2 {
        font-size: large;
    }

    .hustle-content p {
        font-size: 14px;
    }

    button {
        padding: 13px 26px;
        margin-top: 10px;
    }

    /* section two */

    .section-two {
        background-color: rgb(229, 227, 227);
        padding: 100px;
    }

    .movers-heading {
        margin-bottom: 120px;
    }

    .card-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .card-one {
        background: #fff;
        width: 100%;
        margin-top: 40px;
        border-radius: 5px;
    }

    .card-one img {
        width: 100%;
        height: auto;
    }

    .card-one h4 {
        margin-top: 20px;
        margin-left: 10px;
        text-transform: capitalize;
        font-weight: 300;
        font-size: 15px;
    }

    .btn-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .btn {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 20px;
        padding: 10px 35px;
        text-align: center;
        border: 1px solid lightgrey;
        background-color: #fff;
        border-bottom: none;
    }

    .btn:first-child {
        border-left: none;
        border-bottom: none;
        border-bottom-left-radius: 15px;
    }

    .btn:last-child {
        border-right: none;
        border-bottom: none;
        border-bottom-right-radius: 15px;
    }

}

@media screen and (max-width: 700px) {
    
    /* Content area */
    .section-one {
        display: flex;
        flex-direction: column;
    }

    .hustle-img {
        width: 86%;
    }

    .section-one img {
        width: 100%;
        
    }

    .hustle-content {
        width: 86%;
        padding-top: 40px;
    }

}

@media screen and (max-width: 1000px) {
    /* footer */
    footer {
        height: 500px; 
        background-image:linear-gradient(to top right, black, black, black, orange); 
        padding: 100px;
        color: #fff;
    }

    footer h2 span{
        color: #FAFF00;
        font-family: 'Actor', sans-serif;
    }

    .line {
        border-bottom: 1px solid rgb(47, 47, 47);
        margin: 50px 0px;

    }

    .links-container {
        display: flex;
        justify-content:center;
        align-items: center;
        font-family: 'Actor', sans-serif;
        width: 100%;
    }

    .fa {
        padding-right: 20px;
        margin-bottom: 30px;
    }

    footer h3 {
        font-weight: 300;
        font-size: medium;
        margin-bottom: 10px;
    }

    footer ul {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        padding: 0;
        margin-bottom: 20px;
        width: 100%;
        flex-wrap: wrap;
    }

    footer ul li {
        font-size: small;
        font-weight: 100;
        margin-bottom: 0px;
        padding-bottom: 10px;
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    /* footer */
    footer {
        height: auto; 
        background-image:linear-gradient(to top right, black, black, black, orange); 
        /* background-color: black;  */
        padding: 100px;
        color: #fff;
    }

    .links-container {
        display: block;
    }

    .fa {
        display: block;
    }

}
