* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Adamina', serif;
}

.backgroundImage {
    background-color: black;
    background-image: url('../images/moving\ 1.png');
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-origin: content-box; */
}

ul {
    padding: 60px;
    padding-left: 400px;
    text-align: center;
}

ul li {
    display: inline-block;
}

ul li {
    color: white;
    text-decoration: none;
    padding-left: 60px;
    font-weight: 300;
}

ul li a {
    color: white;
    text-decoration: none;
}

ul li a button {
    border: none;
    padding-left: 60px;
}

ul li .btn-yellow {
    border: none;
    background: #FAFF00;
    padding: 2px 10px;
    /* background: #FFAC12; */
    /* color: #FAFF00; */
}

ul li .btn-black {
    border: none;
    padding: 2px 10px;
    background: #000;
    color: #FAFF00;
}

.hero-content {
    width: 35%;
    margin-left: 100px;
}

.hero-content p:first-child {
    font-size: 40px;
    margin-bottom: 30px;
    color: #FAFF00;

}

.hero-content p:last-child {
    font-size: 20px;
    margin-bottom: 5px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;

}